<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blanknits Home</title>
    <link href="styles/styles.css" rel="stylesheet" />
    <script src="scripts/jquery.js"></script>
    <script src="scripts/script.js"></script>
  </head>
  <body>
    <header>
      <img src="../images/Main-Logo.png" alt="Blanknits Logo" />
    </header>
    <nav>
      <ul id="nav-menu">
        <li>Home</li>
        <li>Products</li>
        <li>Gallery</li>
        <li>Ordering</li>
        <li>FAQ</li>
      </ul>
    </nav>
    <main>

    </main>
  </body>
</html>
